@import "@dogeos/dogeos-sdk/style.css";

@source "./**/*.{ts,tsx,html}";

.responsive-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 768px) {
  .responsive-layout {
    flex-direction: row;
  }
}

.mobile-connect-button {
  display: none;
  flex-direction: column;
}

@media (max-width: 479px) {
  .mobile-connect-button {
    display: flex;
  }
}

.desktop-connect-content {
  display: none;
}

@media (min-width: 480px) {
  .desktop-connect-content {
    display: flex;
  }
}

.desktop-config-content {
  display: none;
}

@media (min-width: 900px) {
  .desktop-config-content {
    display: flex;
  }
}
